
<html>
    <body>
<% usuarios.forEach((usuario) => { %>
    <%= usuario.nome %>
<% }) %>
<% usuarios.forEach((usuario) => { %>
    <%= usuario.sobrenome %>
<% }) %>
<% usuarios.forEach((usuario) => { %>
    <%= usuario.idade %>
<% }) %>
<% usuarios.forEach((usuario) => { %>
    <%= usuario.altura %>
<% }) %>
</body>
</html>